.cover {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    font-weight: bolder;
    display: flex;
    justify-content: center !important;
    border: 2px solid transparent;
    transition: .3s linear;

    &:hover {
        border-color: white;
        background-color: #7a6ad8; 

        >* {
            color: white !important;
        }
    }
}


.swiper-button-prev, .swiper-button-next {
    scale: 0.5;
    width: 15px;
    font-size: 18px;
    font-weight: bolder;
}

@media (max-width:768px) {
    .t-right {
        padding-left: 20px;
        padding-right: 40px;
    }

    .name {
        font-size: 18px;
    }
}